* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(169, 169, 169), black);


}

.cal_area {

    background-color: rgba(148, 148, 148, 0.919);
    border-radius: 25px;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input {
    border-radius: 5px;
    height: 35px;
    margin: 10px;
    border-color: transparent;

    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.result {
    margin-top: 10px;
    border: 2px solid none;
    background-color: rgb(255, 255, 255);
    height: 35px;
    width: 165px;
    border-radius: 5px;
    text-align: center;

}

.buttons {
    margin-top: 80px;

}

button {
    border: 2px solid black;
}

.minus {
    background-color: inherit;
    border-radius: 35px;
    font-size: 50px;
    padding: 5px 30px;
    color: aliceblue;
    /* border: none; */

}

.devide {
    background-color: inherit;
    border-radius: 35px;

    font-size: 45px;
    color: aliceblue;
    padding: 9px 30px;
    text-align: center;
    /* border: none; */
}

.mult {
    background-color: inherit;
    border-radius: 35px;

    font-size: 40px;
    color: aliceblue;
    padding: 13px 30px;

    /* border: none; */
}

.sum {
    background-color: inherit;
    border-radius: 35px;

    font-size: 45px;
    color: aliceblue;
    padding: 10px 30px;
    /* border: none; */

}

.sum:hover,
.devide:hover,
.minus:hover,
.mult:hover {
    color: rgb(105, 104, 104);
    background-color: rgb(255, 255, 255);
}

.clear {
    margin-top: 20px;
    background-color: black;
    color: aliceblue;
    width: 350px;
    height: 80px;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.clear:hover {
    color: black;
    background: white;
}